<% def_msg = I18n.t("defaults.accept_default_message") %>
<% define_template("defaults", jsonmodel_definition(:defaults)) do |form| %>
  <div class="subrecord-form-fields">
      <h3><%= I18n.t "defaults.general_section" %></h3>
      <%= form.label_and_boolean "show_suppressed", {}, form.default_for("show_suppressed") %>
      <%= form.label_and_boolean "publish", {}, form.default_for("publish") %>

      <h3><%= I18n.t "defaults.accession_browse_section" %></h3>
      <%=
        out = ''
        (1..5).to_a.each do |n|
          out += form.label_and_select("accession_browse_column_#{n}",
                                       form.possible_options_for("accession_browse_column_#{n}", true,
                                                                 {:i18n_prefix => "accession",
                                                                  :empty_label => "#{def_msg} " +
                                                                    (@inherited_defaults["accession_browse_column_#{n}"] ?
                                                                       I18n.t("accession." +
                                                                         @inherited_defaults["accession_browse_column_#{n}"]) :
                                                                       I18n.t("defaults.no_value")),
                                                                   :i18n_path_for => {'no_value' => 'defaults.no_value'}}))
        end
        out.html_safe
      %>

      <h3><%= I18n.t "defaults.resource_browse_section" %></h3>
      <%=
        out = ''
        (1..5).to_a.each do |n|
          out += form.label_and_select("resource_browse_column_#{n}",
                                       form.possible_options_for("resource_browse_column_#{n}", true,
                                                                 {:i18n_prefix => "resource",
                                                                  :empty_label => "#{def_msg} " +
                                                                    (@inherited_defaults["resource_browse_column_#{n}"] ?
                                                                       I18n.t("resource." +
                                                                         @inherited_defaults["resource_browse_column_#{n}"]) :
                                                                       I18n.t("defaults.no_value"))}))
        end
        out.html_safe
      %>

      <h3><%= I18n.t "defaults.digital_object_browse_section" %></h3>
      <%=
        out = ''
        (1..5).to_a.each do |n|
          out += form.label_and_select("digital_object_browse_column_#{n}",
                                       form.possible_options_for("digital_object_browse_column_#{n}", true,
                                                                 {:i18n_prefix => "digital_object",
                                                                  :empty_label => "#{def_msg} " +
                                                                    (@inherited_defaults["digital_object_browse_column_#{n}"] ?
                                                                       I18n.t("digital_object." +
                                                                         @inherited_defaults["digital_object_browse_column_#{n}"]) :
                                                                       I18n.t("defaults.no_value"))}))
        end
        out.html_safe
      %>

<%# PLUGIN CONTENT STARTS HERE %>
  <h3><%= I18n.t "plugins.material_type.preference_section" %></h3>

    <div class="row-fluid">
      <div class="span6">
        <%= form.label_and_boolean "material_type_books", {:plugin => true}, form.default_for("material_type_books") %>
        <%= form.label_and_boolean "material_type_games", {:plugin => true}, form.default_for("material_type_games") %>
        <%= form.label_and_boolean "material_type_maps", {:plugin => true}, form.default_for("material_type_maps") %>
        <%= form.label_and_boolean "material_type_microforms", {:plugin => true}, form.default_for("material_type_microforms") %>
        <%= form.label_and_boolean "material_type_realia", {:plugin => true}, form.default_for("material_type_realia") %>
        <%= form.label_and_boolean "material_type_serials", {:plugin => true}, form.default_for("material_type_serials") %>
      </div>
      <div class="span6">
        <%= form.label_and_boolean "material_type_audiovisual_materials", {:plugin => true}, form.default_for("material_type_audiovisual_materials") %>
        <%= form.label_and_boolean "material_type_electronic_documents", {:plugin => true}, form.default_for("material_type_electronic_documents") %>
        <%= form.label_and_boolean "material_type_manuscripts", {:plugin => true}, form.default_for("material_type_manuscripts") %>
        <%= form.label_and_boolean "material_type_photographs", {:plugin => true}, form.default_for("material_type_photographs") %>
        <%= form.label_and_boolean "material_type_works_of_art", {:plugin => true}, form.default_for("material_type_works_of_art") %>
      </div>
    </div>
<%# PLUGIN CONTENT ENDS HERE %>

      <%= form.hidden_input "junk", "bin me please" %>
   </div>
<% end %>
