<% define_template("material_type", jsonmodel_definition(:material_types)) do |form| %>
  <div class="subrecord-form-fields">
      <%= form.label_and_boolean "works_of_art", {:plugin => true}, form.default_for("works_of_art") %>
      <%= form.label_and_boolean "audiovisual_materials", {:plugin => true}, form.default_for("audiovisual_materials") %>
      <%= form.label_and_boolean "books", {:plugin => true}, form.default_for("books") %>
      <%= form.label_and_boolean "electronic_documents", {:plugin => true}, form.default_for("electronic_documents") %>
      <%= form.label_and_boolean "games", {:plugin => true}, form.default_for("games") %>
      <%= form.label_and_boolean "microforms", {:plugin => true}, form.default_for("microforms") %>
      <%= form.label_and_boolean "maps", {:plugin => true}, form.default_for("maps") %>
      <%= form.label_and_boolean "manuscripts", {:plugin => true}, form.default_for("manuscripts") %>
      <%= form.label_and_boolean "photographs", {:plugin => true}, form.default_for("photographs") %>
      <%= form.label_and_boolean "realia", {:plugin => true}, form.default_for("realia") %>
      <%= form.label_and_boolean "serials", {:plugin => true}, form.default_for("serials") %>
   </div>
<% end %>
