<% define_template("material_type", jsonmodel_definition(:material_types)) do |form| %>
  <div class="subrecord-form-fields">
    <div class="row-fluid">
      <div class="span6">
        <%= form.label_and_boolean "books", {:plugin => true}, user_prefs["material_type_books"] %>
        <%= form.label_and_boolean "games", {:plugin => true}, user_prefs["material_type_games"] %>
        <%= form.label_and_boolean "maps", {:plugin => true}, user_prefs["material_type_maps"] %>
        <%= form.label_and_boolean "microforms", {:plugin => true}, user_prefs["material_type_microforms"] %>
        <%= form.label_and_boolean "realia", {:plugin => true}, user_prefs["material_type_realia"] %>
        <%= form.label_and_boolean "serials", {:plugin => true}, user_prefs["material_type_serials"] %>
      </div>
      <div class="span6">
        <%= form.label_and_boolean "audiovisual_materials", {:plugin => true}, user_prefs["material_type_audiovisual_materials"] %>
        <%= form.label_and_boolean "electronic_documents", {:plugin => true}, user_prefs["material_type_electronic_documents"] %>
        <%= form.label_and_boolean "manuscripts", {:plugin => true}, user_prefs["material_type_manuscripts"] %>
        <%= form.label_and_boolean "photographs", {:plugin => true}, user_prefs["material_type_photographs"] %>
        <%= form.label_and_boolean "works_of_art", {:plugin => true}, user_prefs["material_type_works_of_art"] %>
      </div>
    </div>
   </div>
<% end %>
